# extensions
*.egg-info
*.py[cod]

# envs
.pt13
.pt2

# directories
/checkpoints
/dist
/outputs
/build
/src
/.vscode".bash_history" 
".cache/" 
".dotnet/" 
".gitconfig" 
".ssh/" 
"AppData/" 
"Desktop/" 
"Documents/" 
"Downloads/" 
"OneDrive/" 
"Videos/" 
"stable-diffusion-webui/" 
"AppData/" 
